################################################################################
# IdC Compose
################################################################################
# docker-compose -f docker-compose-.yml up
################################################################################
version: "3.8"

services:
  node-red:
    image: nodered/node-red:latest
    container_name: node-red
    environment:
      - TZ=Europe/Portugal
    ports:
      - 1880:1880
    networks:
      idc-net:
        ipv4_address: 172.100.10.15
    volumes:
      - ./data/node-red-data:/data

  mosquitto:
      image: eclipse-mosquitto:latest
      container_name: mosquitto
      ports:
          - 1883:1883
          - 8883:8883
          - 9001:9001
      volumes:
          - ./data/mosquitto-data/config:/mosquitto/config
          - ./data/mosquitto-data/data:/mosquitto/data
          - ./data/mosquitto-data/log:/mosquitto/log
      networks:
          idc-net:
              ipv4_address: 172.100.10.10

  web:
      build: cloud-Infrastructure/data/app-data/
      container_name: app
      ports:
        - "8000:8000"
      networks:
          idc-net:
              ipv4_address: 172.100.10.14


#
# Add more containers
#

  go-backend:
    build: ./backend_web
    container_name: go-backend
    ports:
      - "8080:8080"
    networks:
      idc-net:
        ipv4_address: 172.100.10.16
    volumes:
      - ./backend_web:/app
    command: ./main

  react-frontend:
    build: ./frontend_web
    container_name: react-frontend
    ports:
      - "3000:3000"
    networks:
      idc-net:
        ipv4_address: 172.100.10.17
    depends_on:
      - go-backend
    restart: unless-stopped

  db:
      image: mysql
      command: --default-authentication-plugin=mysql_native_password
      restart: always
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: dbname1
        MYSQL_USER: dbuser
        MYSQL_PASSWORD: dbpass
      volumes:
        - ./mysql/var/lib/mysql:/var/lib/mysql
  adminer:
      image: adminer
      restart: always
      ports:
        - 8081:8080


networks:
  idc-net:
      driver: bridge
      ipam:
        driver: default
        config:
          - subnet: 172.100.10.0/24
